/* .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
} */

/* .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-primary {
  width: 120px;
  margin-right: auto;
  margin-left: auto;
}


.card-body img {
  height: 170px;
  object-fit: cover;
} */

/* .cards {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
} */
