

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

h1 {
  color: red;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-primary {
  width: 120px;
  margin-right: auto;
  margin-left: auto;
}


.card-body img { 

  height: 170px;
  object-fit: cover;
   }