* {
  font-family: 'Roboto', sans-serif;
}

body,
html {
  min-width: 1440px;
  margin: 0;
  padding: 0%;
}

html {
  position: relative;
}


.container-header {
  width: 1200px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background-color: #F8F9FA;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2000 !important;
  top: 0;

}

.filter-back {
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 15px 25px #0D6EFD40;
  margin-bottom: 50px;
  position: fixed;
  z-index: 1000;
  margin-top: 80px;
  top: 0;
}

.navbar {
  background-color: #F8F9FA;
}

.nav-big {
  padding-top: 16px;
}

.navbar-brand {
  margin-right: 160px;
}

.container-fluid {
  padding: 0%;
}

.navbar-collapse {
  justify-content: flex-end;
}

.house {
  margin-right: 160px;
  color: #5A5A5A !important;
  font-size: 18px;
}

.favourite {
  margin-right: 90px;
  color: #5A5A5A !important;
  font-size: 18px;
}

.register {
  margin-right: 20px;
  color: #5A5A5A !important;
  font-size: 18px;
}

.exit {
  color: #5A5A5A !important;
  font-size: 18px;
}

.dropdown-toggle {
  color: #5A5A5A !important;
  font-size: 18px;
}

.img-heart {
  width: 22px;
  height: 22px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

.img-login {
  width: 22px;
  height: 22px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}


.img-exit {
  width: 22px;
  height: 22px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

.nav-item,
.nav-link {
  padding-left: 0px !important;
}

.apart,
.floor {
  margin-right: 40px;
  color: #5A5A5A !important;
  font-size: 18px;
}

.form-select {
  width: 150px;
}

.selectors {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 1200px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
}


.form-select:focus,
.form-select:active {
  box-shadow: none;
  border-color: #0D6EFD40;
}

.show-btn {
  width: 130px;
  height: 38px;
  border: 1px solid #0D6EFD;
  border-radius: 6px;
  background-color: #0D6EFD;
  color: #FFFFFF;
  transition: box-shadow 0.2s, ease-in-out, transform 0.2s ease-in-out;
  z-index: 999;
}

.show-btn:hover {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  /* box-shadow: 0px 8px 15px #0d6dfd3b; */
  background-color: #297bf7;

  /* transform: translateY(-1px); */
  border: none;
}



.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-bottom: 360px;
  padding: 0;
  margin-top: 200px;
}

.cards {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid #b9b9b9;
  border-radius: 20px;
  gap: 20px;
}

.cards-apart,
.cards-flat,
.cards-house {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid #b9b9b9;
  border-radius: 20px;
  gap: 20px;
}


.card {
  border-radius: 20px;
  border: 1px solid #b9b9b9;
  max-height: 380px;
  transition: box-shadow 0.2s, ease-in-out, transform 0.2s ease-in-out;
}

.card:hover {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0px 15px 20px #0d6dfd3b;
  transform: translateY(-5px);
  border: none;
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-primary {
  width: 120px;
  margin-right: auto;
  margin-left: auto;
}


.card-body img {
  height: 170px;
  object-fit: cover;
}

.card-text,
.card-text-apart,
.card-text-flat,
.card-text-house {
  font-weight: 700;
  margin-bottom: 5px;
  color: #656566;
  text-decoration: none !important;
}

.card-text:hover {
  color: #656566;
  text-decoration: none !important;
}

.figure {
  margin-bottom: 5px;
}



/* ////////////////////////////////// */


footer {
  position: absolute;
  bottom: 0;
  background-color: #F8F9FA;
  height: 220px;
  width: 100%;
  padding: 40px 0 40px 0;
}


.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
}

.left-block {
  display: flex;
  flex-direction: column;
  color: #5A5A5A;
  text-decoration: none;
}

.center-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.center-block-a,
.right-block-a {
  color: #5A5A5A;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 15px;
}

.right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #5A5A5A;
  text-decoration: none;
  margin-top: 20px;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 15px;
}



/* //////////////////////////////// */


.reg-form {
  margin-top: 40px;
  margin-bottom: auto;
  max-width: 300px;
}

.login-form {
  margin-top: 110px;
  margin-bottom: auto;
  max-width: 300px;
}

.login-btn,
.reg-btn {
  margin-top: 30px;
  width: 200px;
}

.dropdown-toggle {
  margin-right: 30px;
}

h2 {
  color: #5A5A5A;
}

.form-label {
  margin-bottom: 0;
}

.form-control {
  margin-bottom: 8px;
}


.icons-foo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
}

.contact {
  margin-bottom: 0;
}

.links-telegram,
.links-email {
  width: 30px;
  height: 30px;
}


.list-group-flush {
  margin-top: 40px;
  max-width: 500px;
}

/* .list-group-flush-card {
  max-width: 800px;
} */

.list-group-item {
  font-size: 20px;
}

/* ///////////////////////////////////////////////// */

.item-add-form {
  display: flex;
  flex-direction: column;

}

.small-form-input {
  max-width: 100px;
  margin: 0 !important;
}

.input-div {
  margin-top: 5px;
}

.add-item-container {
  margin-bottom: 270px;
}

.add-item-container-flat {
  margin-bottom: 320px;
}

.add-item-container-house {
  margin-bottom: 395px;
}


/* ////////////////////////////////////////////////*/

.one-item-cards {
  justify-content: space-between
}

.one-item-column {
  display: flex;
  flex-direction: column;
}

.text-one-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 520px;
  border: 1px solid #b9b9b9;
  border-radius: 15px;
  padding: 20px;
  text-align: justify;
}

.one-item-img {
  max-width: 600px;
}

.one-item-container {
  margin-top: 200px;
  margin-bottom: 350px;
}
